
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 50px;
    
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Karla', sans-serif;
    background-color: #3A86FF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    /* box-shadow: var(--shadow); */
}

h1 {
    color: whitesmoke;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }


.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
  
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

input {
    border: 1.5px solid black
}

button {
    padding: 4px;
    margin: 5px auto;
    border: 1px solid black;
}

#logout {
    background-color: #3A86FF;
    border: none;
}

.routine-submit {
    display: block;
    box-shadow: thistle; 
    background-color: white;
}

.add-exercise-btn,
.redirect-routine-btn,
.create-routine-btn,
.edit-routine-btn,
.start-workout {
    background-color: white;
    outline: none;
}


.create-routine-btn,
.start-workout
{
    position: fixed;
    bottom: 60px;
}

.edit-routine-btn {
    position: fixed;
    bottom: 60px;
    left: 55%;
}

.start-workout {
    border-radius: 50%;
    height: 70px;
    width:70px;
}

.start-workout:hover {
    border-radius: 50%;
    height: 70px;
    background-color: rgb(19,201,208);
    color: black;
}

.exercises-list {
    overflow: scroll;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.exercise-workout-list {
    background-color: rgb(19,201,208);
    cursor: url('../assets/dumbbell.png'), auto;

}

.exercise-workout-list a {
    text-decoration: none;
}

.exercise-workout-list a:hover {
    text-decoration: none;
    color: white;
    cursor: url('../assets/dumbbell.png'), auto;
}

.detail-header {
    display: block;
    font-size: 20px;
    margin: 0;
    padding: none;
    text-align: center;
}

.about-us {
    /* border: solid 2px black; */
    height: 150px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    background-color: #FFBE0B;
}

.our-story {
    /* border: solid 2px black; */
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    background-color: #ACC8FD;
}

.about-us img {
    /* border: solid 1px black; */
    height: 60px;
    width: 60px;
    margin: 10px;
}


#icon {
    background-image: url('../assets/workouticon.png');
    background-size: contain;
    height: 100px;
    width: 100px
}

#timer {
    font-size: 4rem;
    margin: 30px;
}

.start-stop-button {
    height: 40px;
    width: 160px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px
}


.our-team {
    overflow: scroll;
    height: 300px;
}

.name-img-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: none;
    padding: none;
    background-color: #ACC8FD;
}

.about-us p {
    display: flex;
    flex-direction: column;
    text-align:start;
    margin: none;
    padding: none;
    background-color: #FFBE0B ;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: black
}

.title {
    font-size: 10px;
}

.name {
    margin-top: 10px;
}
.auth-main{
    display:flex;
    flex-direction: column;
   
    
}
#sign-up{
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}
#sign-up-email, #sign-up-password{
    margin:5px;
    height:45px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', 'sans-serif';
    background-color: #ffbe0b;
    box-shadow: var(--shadow);

}
#sign-up-email::placeholder, #sign-up-password::placeholder {color: black;

font-size: 25px;
}

.log-in{
    background-color: #ff006e;
    margin:5px;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    justify-items: center;
    color:white;
    font-size:18px;
    box-shadow: var(--shadow);
}

#routine-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
 
   
}
.routine-select-display{
    background-color:#ffbe0b;
    color:white;
    border:solid 1px;
    border-color:#ff006e;
    margin:5px;
    height:30px;
    width: 100%;
    border-radius: 30px;
    justify-content: center;
    box-shadow: var(--shadow);
    
    
}

.create-routine-btn, .edit-routine-btn{
   display:block;
   margin:50px;
   height:100px;
   width:100px;
   border-radius: 50%;
   border:solid 3px;
   border-color: #ffbe0b;
   background-color:  #ff006e;
   color:white;
   font-family: 'Karla', 'sans-serif';
   font-size:12px;
   box-shadow: var(--shadow);
   
}


#start-button, .start-stop-button, .start-workout, .redirect-routine-btn{
    height:100px;
   width:100px;
   border-radius: 50%;
   border:solid 3px;
   border-color: #ffbe0b;
   background-color:  #ff006e;
   color:white;
   font-family: 'Karla', 'sans-serif';
   font-size:12px;
   box-shadow: var(--shadow);
   margin:30px;
}
#routine-name, #current-exercise, #timer{
    background-color: #ffbe0b;
    border:solid 2px;
    border-color: #ff006e;
    width: 300px;
    text-align: center;
    color: black;
    font-family: 'Karla', 'sans-serif';
    box-shadow: var(--shadow);
}
.navbar{
    position:fixed;
  

}

.video-link {
    visibility: hidden;
}

.exercise-video {
    height: 180px;
    width: 250px;
}

.video-display {
    height: 200px;
    width: 250px;

    margin-bottom:10px;
    
}
#button-container{
    display:flex;
    flex-direction: row;
    margin:10px;
}
#big-container{
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
    position:static;
    
}
#routine-name-detail, #duration-detail {
    background-color: #ffbe0b;
    margin:10px;
    height:30px;
    text-align: center;
    justify-content: space-around;
    border:solid 2px;
    border-color: #ff006e;
    box-shadow: var(--shadow);
}
#routine-name-detail{
    margin-top:20px;
}
#exercises-list-detail{
    background-color: #ffbe0b;
    margin:10px;
    border:solid 2px;
    border-color: #ff006e;
    box-shadow: var(--shadow);
    
}
.exercise-workout-list{
    background-color: #ffbe0b;
    margin:10px;
    box-shadow: var(--shadow);
}
#name-button{
    margin:5px;
    height:30px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', 'sans-serif';
    border:solid 3px;
    border-color: #ffbe0b;
    background-color:  #ff006e;
    color:white;
    box-shadow: var(--shadow);
}

.add-exercise-btn{
    margin:20px;
    height:30px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', 'sans-serif';
    border:solid 3px;
    border-color: #ffbe0b;
    background-color:  #ff006e;
    color:white;
    box-shadow: var(--shadow);
}
#name-input{
    margin:5px;
    height:45px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', 'sans-serif';
   border:solid 2px;
    background-color: #ffbe0b;
    border-color:  #ff006e;
    box-shadow: var(--shadow);
   
}
#routine-name-output{
    background-color: #ffbe0b;
    width:100%;
    text-align: center;
    box-shadow: var(--shadow);
}
#exercise-dropdown{
    background-color: #ffbe0b;
    height:50px;
    text-align:center;
    font-size: 15px;
    box-shadow: var(--shadow);
}
.exercise{
    background-color: #ffbe0b;
    margin:5px;
}
.display-routine-selection, #edit-name-input, #edit-routine-submit{
    margin:5px;
    height:45px;
    width:50%;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Karla', 'sans-serif';
   border:solid 2px;
    background-color: #ffbe0b;
    border-color:  #ff006e;
    box-shadow: var(--shadow);
}
.display-routine-selection{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#about, #user-story{
    box-shadow: var(--shadow);
    color:white;
}
#user-story-headline, #our-team, #meet-the-team-headline, .about-us, #edit-routine-h1, #list-of-routines-h1, #create-routine-h1{
    box-shadow: var(--shadow);

}
#meet-the-team-headline{
    text-align: center;
    color:white;
}
#user-story-headline{
    color:white;
}
.exercise-list, .exercise{
    box-shadow: var(--shadow);

}